.henny-penny {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.exo {
    font-family: "Exo", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  